@import 'theme';
@mixin basicInputContainer() {
    width: 100%;
    height: auto;
    position: relative;
}
@mixin basicInput() {
    background: #fff;
    border-radius: 4px;
    border: 1px solid map-get($primary-color, 200 );
    box-sizing: border-box;
    color: map-get($text-color, 500 );
    font-family: "Inter", sans-serif;
    font-size: 14px;
    height: 48px;
    line-height: 14px;
    margin-bottom: 28px;
    padding: 14px 16px;
    transition: border-color 0.15s ease-out, box-shadow 0.15s ease-out;
    width: 100%;
    &::placeholder {
        color: map-get($primary-color, 300 );
    }
    &:invalid{
        border: 1px solid map-get($aux-color, error );
    }
    &:focus{
        outline: none;
        border: 1px solid map-get($primary-color, 700 );
        box-shadow: 0 0 0 3px rgba(17, 27, 48, 0.08);
    }
}
