<section class="home">
  <app-header [data]="headerData" />
  @if (currentProject?.name) {
    <div class="active-project">
      <h4 class="active-project__title">Proyecto activo</h4>
      <img class="active-project__img" src="/assets/home/project.webp" alt="Project cover">
      <h5>{{ currentProject?.name }} </h5>
    </div>
  }
  <div class="home__buttons">
    <app-button theme="primary" [isLoading]="isLoading"
      name="Seleccionar Proyecto" (onClickButton)="viewSelectProjectModal = true" />
    <app-button theme="primary" [isLoading]="isLoading" name="Crear Proyecto"
      (onClickButton)="viewCreatedProjectModal = true" />
  </div>
  <div class="home__cards">
    @if (isLoading) {
      <span class="spinner home__loading" aria-label="Cargando"></span>
    } @else {
      @for(card of cards; track $index){
        <app-home-cards [cardInfo]="card" [index]="$index" />
      }
    }
  </div>
</section>

<app-select-project [visible]="viewSelectProjectModal" [projects]="projects" [closable]="currentProject?.name != null"
  (doActiveProject)="activeProject($event)" (doclose)="closeModals()" />
<app-create-project [visible]="viewCreatedProjectModal" [closable]="projects.length > 0"
  (doCreateProject)="createProject($event)" (doclose)="closeModals()"/>
<app-toast [data]="toastData"></app-toast>